In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Akshay\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Akshay\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Akshay\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
train = pd.read_csv('TRAIN.csv')
train.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570018445695148033,negative,1.0,Customer Service Issue,0.6560,United,NaN,tpensari,NaN,0,@united your customer service is terrible! Sto...,NaN,2015-02-23 16:32:42 -0800,NaN,NaN
1,568830255282040832,neutral,1.0,NaN,NaN,Southwest,NaN,leavenodoubt131,NaN,0,@SouthwestAir I will dm you now,NaN,2015-02-20 09:51:15 -0800,NaN,Tijuana
2,569296356143050754,negative,1.0,longlines,0.3462,United,NaN,ScottyNeuman,NaN,1,@united congratulations united. Fail again. Sk...,"[39.85760174, -104.66669625]",2015-02-21 16:43:22 -0800,"Montana, God's country\n",Pacific Time (US & Canada)
3,569936640669581313,positive,1.0,NaN,NaN,United,NaN,koploperfan1992,NaN,0,@united look at this beauty ðŸ˜‰ dc 10 united air...,"[51.322819, 5.3576218]",2015-02-23 11:07:38 -0800,Winterfell,NaN
4,569542242983124992,positive,1.0,NaN,NaN,Delta,NaN,sandyy889,NaN,0,@JetBlue Landing! As usual great flight wiyh a...,NaN,2015-02-22 09:00:26 -0800,NaN,America/Detroit

In [3]:
train.shape

(12000, 15)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 15 columns):
tweet_id                        12000 non-null int64
airline_sentiment               12000 non-null object
airline_sentiment_confidence    12000 non-null float64
negativereason                  7517 non-null object
negativereason_confidence       8616 non-null float64
airline                         12000 non-null object
airline_sentiment_gold          31 non-null object
name                            12000 non-null object
negativereason_gold             26 non-null object
retweet_count                   12000 non-null int64
text                            12000 non-null object
tweet_coord                     842 non-null object
tweet_created                   12000 non-null object
tweet_location                  8170 non-null object
user_timezone                   8085 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.4+ MB

In [5]:
train.duplicated().sum()

25

In [6]:
train = train.drop_duplicates(keep= 'first')

In [7]:
train.shape

(11975, 15)

In [8]:
test = pd.read_csv('TEST.csv')
test.head()

,tweet_id,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570031016800161792,1.0000,Lost Luggage,1.0000,United,NaN,tpensari,NaN,0,@united well someone should tell that to the e...,NaN,2015-02-23 17:22:39 -0800,NaN,NaN
1,569948646717812736,1.0000,NaN,NaN,American,NaN,Metalmikefisher,NaN,0,@AmericanAir Let's all have a extraordinary we...,NaN,2015-02-23 11:55:21 -0800,NaN,Eastern Time (US & Canada)
2,569469326547222528,0.6811,Late Flight,0.6811,United,NaN,jlongoria21,NaN,0,@united since I have an international connecti...,NaN,2015-02-22 04:10:42 -0800,"Rio Grande Valley, Texas",Central Time (US & Canada)
3,569512239209824256,1.0000,Customer Service Issue,0.6812,Delta,NaN,cshells4,NaN,0,@JetBlue woulda been nice of you to let us kno...,NaN,2015-02-22 07:01:13 -0800,Connecticut,NaN
4,567842370533867520,1.0000,Customer Service Issue,1.0000,US Airways,NaN,suzanneboles,NaN,0,@USAirways contd.. They put her on 7 pm flite ...,NaN,2015-02-17 16:25:45 -0800,"London, ON'",Eastern Time (US & Canada)

In [9]:
test.shape

(2640, 14)

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 14 columns):
tweet_id                        2640 non-null int64
airline_sentiment_confidence    2640 non-null float64
negativereason                  1661 non-null object
negativereason_confidence       1906 non-null float64
airline                         2640 non-null object
airline_sentiment_gold          9 non-null object
name                            2640 non-null object
negativereason_gold             6 non-null object
retweet_count                   2640 non-null int64
text                            2640 non-null object
tweet_coord                     177 non-null object
tweet_created                   2640 non-null object
tweet_location                  1737 non-null object
user_timezone                   1735 non-null object
dtypes: float64(2), int64(2), object(10)
memory usage: 288.8+ KB

In [11]:
train['negativereason_confidence'] = train['negativereason_confidence'].fillna(train['negativereason_confidence'].mean())
test['negativereason_confidence'] = test['negativereason_confidence'].fillna(test['negativereason_confidence'].mean())

In [12]:
train = train.drop(['airline_sentiment_gold', 'negativereason_gold', 'tweet_coord', 'tweet_location', 'user_timezone'], axis = 1)
test = test.drop(['airline_sentiment_gold', 'negativereason_gold', 'tweet_coord', 'tweet_location', 'user_timezone'], axis = 1)

In [13]:
newtrain = train
newtest = test

In [14]:
newtrain.head(3)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created
0,570018445695148033,negative,1.0,Customer Service Issue,0.656000,United,tpensari,0,@united your customer service is terrible! Sto...,2015-02-23 16:32:42 -0800
1,568830255282040832,neutral,1.0,NaN,0.636725,Southwest,leavenodoubt131,0,@SouthwestAir I will dm you now,2015-02-20 09:51:15 -0800
2,569296356143050754,negative,1.0,longlines,0.346200,United,ScottyNeuman,1,@united congratulations united. Fail again. Sk...,2015-02-21 16:43:22 -0800

In [15]:
newtrain['negativereason'].value_counts()

Customer Service Issue         2365
Late Flight                    1383
Can't Tell                      957
Cancelled Flight                683
Lost Luggage                    597
Bad Flight                      485
Flight Booking Problems         442
Flight Attendant Complaints     384
longlines                       146
Damaged Luggage                  61
Name: negativereason, dtype: int64

In [16]:
train['negativereason'] = train['negativereason'].fillna(train['negativereason'].value_counts().index[0])
test['negativereason'] = test['negativereason'].fillna(test['negativereason'].value_counts().index[0])

In [17]:
newtrain = newtrain.drop('tweet_id', axis = 1)
newtest = newtest.drop('tweet_id', axis = 1)

In [18]:
newtrain.isnull().sum()

airline_sentiment               0
airline_sentiment_confidence    0
negativereason                  0
negativereason_confidence       0
airline                         0
name                            0
retweet_count                   0
text                            0
tweet_created                   0
dtype: int64

In [19]:
newtest.isnull().sum()

airline_sentiment_confidence    0
negativereason                  0
negativereason_confidence       0
airline                         0
name                            0
retweet_count                   0
text                            0
tweet_created                   0
dtype: int64

In [20]:
newtrain['airline_sentiment'].value_counts()

negative    7503
neutral     2555
positive    1917
Name: airline_sentiment, dtype: int64

In [21]:
from bs4 import BeautifulSoup

In [22]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [23]:
ps = PorterStemmer()

In [24]:
from nltk.stem import WordNetLemmatizer

lem = WordNetLemmatizer()

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
count_vec = CountVectorizer()

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
newtrain['airline_sentiment'] = le.fit_transform(newtrain['airline_sentiment'])

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(newtrain['text'], newtrain['airline_sentiment'], test_size = 0.3, random_state = 0)

In [28]:
x_train.shape[0]

8382

In [29]:
corpus_train = []
corpus_test  = []

for i in range(x_train.shape[0]):
    soup = BeautifulSoup(x_train.iloc[i], "html.parser")
    review = soup.get_text()
    review = re.sub('\[[^]]*\]', ' ', review)
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = [word for word in review if not word in set(stopwords.words('english'))]
    lem = WordNetLemmatizer()
    review = [lem.lemmatize(word) for word in review]
    review = ' '.join(review)
    corpus_train.append(review)

In [30]:
for j in range(x_test.shape[0]):
    soup = BeautifulSoup(x_test.iloc[j], "html.parser")
    review = soup.get_text()
    review = re.sub('\[[^]]*\]', ' ', review)
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = [word for word in review if not word in set(stopwords.words('english'))]
    lem = WordNetLemmatizer()
    review = [lem.lemmatize(word) for word in review]
    review = ' '.join(review)
    corpus_test.append(review)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vec = TfidfVectorizer(ngram_range=(1, 3))

tfidf_vec_train = tfidf_vec.fit_transform(corpus_train)
tfidf_vec_test = tfidf_vec.transform(corpus_test)

In [32]:
from sklearn.ensemble import RandomForestClassifier
linear_svc = RandomForestClassifier()

In [33]:
linear_svc.fit(tfidf_vec_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [34]:
predict = linear_svc.predict(tfidf_vec_test)

In [35]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [36]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84      2261
           1       0.52      0.54      0.53       748
           2       0.77      0.57      0.65       584

    accuracy                           0.75      3593
   macro avg       0.70      0.66      0.67      3593
weighted avg       0.75      0.75      0.74      3593

In [37]:
print(confusion_matrix(y_test, predict))

[[1943  265   53]
 [ 298  404   46]
 [ 137  115  332]]

In [38]:
print("Accuracy:", accuracy_score(y_test, predict))

Accuracy: 0.7456164764820484

In [39]:
newtrain.head()

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_created
0,0,1.0,Customer Service Issue,0.656000,United,tpensari,0,@united your customer service is terrible! Sto...,2015-02-23 16:32:42 -0800
1,1,1.0,Customer Service Issue,0.636725,Southwest,leavenodoubt131,0,@SouthwestAir I will dm you now,2015-02-20 09:51:15 -0800
2,0,1.0,longlines,0.346200,United,ScottyNeuman,1,@united congratulations united. Fail again. Sk...,2015-02-21 16:43:22 -0800
3,2,1.0,Customer Service Issue,0.636725,United,koploperfan1992,0,@united look at this beauty ðŸ˜‰ dc 10 united air...,2015-02-23 11:07:38 -0800
4,2,1.0,Customer Service Issue,0.636725,Delta,sandyy889,0,@JetBlue Landing! As usual great flight wiyh a...,2015-02-22 09:00:26 -0800

In [40]:
x_train = newtrain['text']
y_train = newtrain['airline_sentiment']
x_test = newtest['text']

In [41]:
ps = PorterStemmer()

In [42]:
from nltk.stem import WordNetLemmatizer

lem = WordNetLemmatizer()

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
count_vec = CountVectorizer()

In [44]:
corpus_train = []
corpus_test  = []

for i in range(x_train.shape[0]):
    soup = BeautifulSoup(x_train.iloc[i], "html.parser")
    review = soup.get_text()
    review = re.sub('\[[^]]*\]', ' ', review)
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = [word for word in review if not word in set(stopwords.words('english'))]
    lem = WordNetLemmatizer()
    review = [lem.lemmatize(word) for word in review]
    review = ' '.join(review)
    corpus_train.append(review)

In [45]:
for j in range(x_test.shape[0]):
    soup = BeautifulSoup(x_test.iloc[j], "html.parser")
    review = soup.get_text()
    review = re.sub('\[[^]]*\]', ' ', review)
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    review = review.split()
    review = [word for word in review if not word in set(stopwords.words('english'))]
    lem = WordNetLemmatizer()
    review = [lem.lemmatize(word) for word in review]
    review = ' '.join(review)
    corpus_test.append(review)

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vec = TfidfVectorizer(ngram_range=(1, 3))

tfidf_vec_train = tfidf_vec.fit_transform(corpus_train)
tfidf_vec_test = tfidf_vec.transform(corpus_test)

In [47]:
from sklearn.ensemble import RandomForestClassifier
linear_svc = RandomForestClassifier()

In [48]:
linear_svc.fit(tfidf_vec_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [49]:
predict = linear_svc.predict(tfidf_vec_test)

In [51]:
solution = pd.DataFrame({'Sentiment': le.inverse_transform(predict)})
solution.to_csv('RF.csv')