In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
import os

In [24]:
data_dir = 'C:\\Users\\Akshay\\Downloads\\Machine Learning Competition\\Z Dockship\\Attentive AI Hiring Challenge\\merged_data'

In [25]:
test_path = data_dir+'\\test\\'
train_path = data_dir+'\\train\\'

In [26]:
train = pd.read_csv(os.path.join(train_path, 'train_challenge.csv'))
test = pd.read_csv(os.path.join(test_path, 'test_challenge.csv'))
train.head()

       0                 1
0  0.jpg           Adhered
1  1.jpg           Adhered
2  2.jpg          Concrete
3  3.jpg          Concrete
4  4.jpg  Plastic & fabric

In [27]:
test = test.rename(columns = {'0': 'A', '1': 'B'})
test.head()

       A        B
0  0.jpg  Adhered
1  1.jpg  Adhered
2  2.jpg  Adhered
3  3.jpg  Adhered
4  4.jpg  Adhered

In [28]:
test.head()

       A        B
0  0.jpg  Adhered
1  1.jpg  Adhered
2  2.jpg  Adhered
3  3.jpg  Adhered
4  4.jpg  Adhered

In [29]:
test = test.rename(columns = {'0': 'A', '1': 'B'})
test.head()

       A        B
0  0.jpg  Adhered
1  1.jpg  Adhered
2  2.jpg  Adhered
3  3.jpg  Adhered
4  4.jpg  Adhered

In [11]:
l1 = []
l2 = []
for i in os.listdir(train_path):
    img = plt.imread(train_path+i)
    i1, i2, colors = img.shape
    l1.append(i1)
    l2.append(i2)
print(np.mean(l1))
print(np.mean(l2))

589.4102267468764
718.4864645997224

In [30]:
from tqdm import tqdm
from keras.preprocessing import image

train_image = []
for i in tqdm(range(train.shape[0])):
    img = image.load_img('train/'+train['0'][i], target_size=(110,110,1), grayscale=True)
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)
X = np.array(train_image)

  0%|          | 0/8644 [00:00<?, ?it/s]C:\Users\Akshay\Anaconda3\lib\site-packages\keras_preprocessing\image\utils.py:107: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '
100%|██████████| 8644/8644 [01:05<00:00, 132.48it/s]

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['1'] = le.fit_transform(train['1'])

In [32]:
from keras.utils import to_categorical

y = train['1'].values
y = to_categorical(y)

In [33]:
test_image = []
for i in tqdm(range(test.shape[0])):
    img = image.load_img('test/'+test['A'][i], target_size=(110,110,1), grayscale=True)
    img = image.img_to_array(img)
    img = img/255
    test_image.append(img)
test = np.array(test_image)

100%|██████████| 596/596 [00:04<00:00, 126.81it/s]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [35]:
from keras.models import Sequential, load_model    
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout
from keras.layers.normalization import BatchNormalization
import cv2
import matplotlib.pyplot as plt
from keras.preprocessing.image import ImageDataGenerator

In [36]:
model = Sequential()

model.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(110,110,1)))

model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(3, 3)))
model.add(Dropout(0.25))


model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(6, activation='softmax'))

In [37]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 108, 108, 32)      320
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 106, 106, 64)      18496
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 35, 35, 64)        0
_________________________________________________________________
dropout_2 (Dropout)          (None, 35, 35, 64)        0
_________________________________________________________________
flatten_1 (Flatten)          (None, 78400)             0
_________________________________________________________________
dense_2 (Dense)              (None, 128)               10035328
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 774
=================================================================
Total params: 10,054,918
Trainable params: 10,054,918
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['acc'])

In [39]:
model.fit(X_train, y_train, epochs=8, validation_data=(X_test, y_test))

Epoch 1/8
217/217 [==============================] - 121s 558ms/step - loss: 1.6221 - acc: 0.3361 - val_loss: 1.5081 - val_acc: 0.3823
Epoch 2/8
217/217 [==============================] - 119s 550ms/step - loss: 1.3457 - acc: 0.4703 - val_loss: 1.2374 - val_acc: 0.5304
Epoch 3/8
217/217 [==============================] - 121s 559ms/step - loss: 1.0929 - acc: 0.5916 - val_loss: 1.1171 - val_acc: 0.5830
Epoch 4/8
217/217 [==============================] - 120s 554ms/step - loss: 0.8757 - acc: 0.6733 - val_loss: 1.0671 - val_acc: 0.6275
Epoch 5/8
217/217 [==============================] - 144s 662ms/step - loss: 0.6990 - acc: 0.7401 - val_loss: 1.0434 - val_acc: 0.6553
Epoch 6/8
217/217 [==============================] - 120s 551ms/step - loss: 0.5562 - acc: 0.7988 - val_loss: 1.0718 - val_acc: 0.6559
Epoch 7/8
217/217 [==============================] - 119s 550ms/step - loss: 0.4521 - acc: 0.8424 - val_loss: 1.2304 - val_acc: 0.6582
Epoch 8/8
217/217 [==============================] - 123s 566ms/step - loss: 0.3772 - acc: 0.8654 - val_loss: 1.1655 - val_acc: 0.6807

In [40]:
prediction = model.predict_classes(test)

In [41]:
test = pd.read_csv(os.path.join(test_path, 'test_challenge.csv'))
test = test.rename(columns = {'0': 'A', '1': 'B'})
test.head()

       A        B
0  0.jpg  Adhered
1  1.jpg  Adhered
2  2.jpg  Adhered
3  3.jpg  Adhered
4  4.jpg  Adhered

In [42]:
solution = pd.DataFrame({'A': test['A'], 'B':le.inverse_transform(prediction)})
solution.to_csv('Solution.csv', index = False)